body {
    background-color: rgb(255, 255, 255);
}

main {
    height: 100vh;
    /* position: relative; */
}

.main-section {
    margin: auto;
    padding-top: 5%;
    width: 100vw;
    position: relative;
}

.custom-box {
    margin: 1% 0;
    height: 75vh;
    max-height: 1024px;
    min-height: 768px;
    width: 70vw;
}

.custom-box-1 {
    z-index: -1;
    position: absolute;
    top: 40px;
    left: 2%;
    background-color: rgba(212, 211, 211, 0.76);
}

.custom-box-2 {
    z-index: -1;
    position: absolute;
    top: 80px;
    right: 2%;
    background-color: rgb(168, 168, 168);
}

.custom-box-3 {
    position: absolute;
    left: 15vw;
    top: 120px;
    background-color: rgb(82, 82, 82);
    padding-left: 5%;
}

#profile-details{
    padding-top: 25%;
}

#profile-photo {
    width: 80%;
    height: auto;
    border-radius: 50%;
    border: 1px solid grey;
    margin-top: 25%;
}

/* ------------------------- */
#nav-bar {
    margin: auto;
    margin-top: 92vh;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1.5rem;
    background-color: black;
    height: 80px;
    line-height: 80px;
}

/* ------------------------- */
